<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brageast.blog.mapper.ArticleMapper">
    <select id="getBaseArticle" resultType="com.brageast.blog.entity.BaseArticle">
        SELECT `articleName`, `describe`, `url` FROM articeList
    </select>
    <select id="getMoreArticle" resultType="com.brageast.blog.entity.Article">
        SELECT * FROM articeList
        <where>
<!--            <if test="url != null">-->
                `url` = #{url}
<!--            </if>-->
        </where>
    </select>
    <select id="getArticeInfo" resultType="com.brageast.blog.util.entity.Combination">
        SELECT (SELECT COUNT(*) FROM articeList) AS eType,
               (SELECT COUNT(DISTINCT(lable)) FROM articeList) AS tType

    </select>
    <select id="getLatestArtice" resultType="com.brageast.blog.util.entity.Combination">
        SELECT articleName AS eType, url AS tType
        FROM articeList
        ORDER BY id DESC
        LIMIT 0, 8
    </select>
    <select id="getLables" resultType="java.lang.String">
        SELECT DISTINCT(lable)
        FROM articeList
    </select>
    <insert id="addArtice" parameterType="com.brageast.blog.entity.Article">
        INSERT INTO articeList(`id`, `articleName`, `describe`, `author`, `lable`, `classification`, `content`, `date`, `url`)
        VALUE (#{id}, #{articleName}, #{describe}, #{author}, #{lable}, #{classification}, #{content}, #{date}, #{url})
    </insert>
    <update id="updateArtice" parameterType="com.brageast.blog.entity.Article">
        UPDATE articeList
        <trim prefix="set" suffixOverrides=",">
            <if test="articleName != null">`articleName`=#{articleName},</if>
            <if test="describe != null">`describe`=#{describe},</if>
            <if test="author != null">`author`=#{author},</if>
            <if test="lable != null">`lable`=#{lable},</if>
            <if test="classification != null">`classification`=#{classification},</if>
            <if test="content != null">`content`=#{content},</if>
            <if test="date != null">`date`=#{date},</if>
            <if test="url != null">`url`=#{url},</if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>
    <delete id="deleteArtice" parameterType="com.brageast.blog.entity.Article">
        DELETE FROM articeList
        <where>
            id= #{id}
        </where>
    </delete>
</mapper>