<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brageast.blog.mapper.PermissionsMapper">
    <insert id="addPermissions">
        INSERT INTO Blog_Permissions(per_name, per_describe)
        VALUES
        <foreach collection="prs" item="item" index="index" separator=",">
            (#{item.eType}, #{item.tType})
        </foreach>
    </insert>
    <delete id="deletePermissions">
        DELETE FROM Blog_Permissions
        <where>
            id=#{id}
        </where>
    </delete>
    <delete id="deleteAllGroupPermissions">
        DELETE FROM Group_Permissions
        <where>
            per_id=#{per_id}
        </where>
    </delete>
    <select id="getPermissions" resultType="com.brageast.blog.entity.Permissions">
        SELECT * FROM Blog_Permissions
    </select>
    <select id="findPermissions" resultType="com.brageast.blog.entity.Permissions">
        SELECT * FROM Blog_Permissions
        <where>
            id=#{id}
        </where>
    </select>
</mapper>