<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brageast.blog.mapper.UserMapper">

    <resultMap id="BasisUser" type="com.brageast.blog.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <collection ofType="com.brageast.blog.entity.Group" property="groups">
            <id column="group_id" jdbcType="BIGINT" property="id" />
            <result column="group_name" jdbcType="VARCHAR" property="name" />
            <result column="per_describe" jdbcType="VARCHAR" property="describe" />
        </collection>
    </resultMap>
    <insert id="addUser">
        INSERT INTO Blog_User(name, `password`, email) VALUE
        (#{name},#{password},#{email})
    </insert>
    <insert id="addUserGroup">
        INSERT INTO User_Group(user_id, group_id)
        VALUES
        <foreach collection="group_id" item="item" index="index" separator=",">
            (
             #{user_id},
             #{item}
            )
        </foreach>
    </insert>
    <update id="updateUser">
        UPDATE Blog_User
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="password != null">`password`=#{password},</if>
            <if test="email != null">email=#{email},</if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>
    <update id="updateUserGroup">
        UPDATE User_Group
        <trim prefix="set" suffixOverrides=",">
            <if test="group_id!=null">group_id=#{group_id}</if>
        </trim>
        <where>
            user_id=#{user_id}
        </where>
    </update>
    <delete id="deleteUser">
        DELETE FROM Blog_User
        <where>
            id=#{id}
        </where>
    </delete>
    <delete id="deleteAllUserGroup">
        DELETE FROM User_Group
        <where>
            user_id = #{user_id}
        </where>
    </delete>
    <delete id="deleteUserGroup">
        DELETE FROM User_Group
        <where>
            user_id=#{user_id}, group_id=#{group_id}
        </where>
    </delete>
    <select id="findUser" resultMap="BasisUser">
        SELECT bu.id, bu.name, bu.password, bu.email, bg.id AS group_id, bg.group_name, bg.group_describe
        FROM Blog_User AS bu
        LEFT JOIN User_Group AS ug ON bu.id = ug.user_id
        LEFT JOIN Blog_Group AS bg ON bg.id = ug.group_id
        WHERE bu.name=#{name}
    </select>
    <select id="getUsers" resultMap="BasisUser">
        SELECT bu.id, bu.name, bu.password, bu.email, bg.id AS group_id, bg.group_name, bg.group_describe
        FROM Blog_User AS bu
        LEFT JOIN User_Group AS ug ON bu.id = ug.user_id
        LEFT JOIN Blog_Group AS bg ON bg.id = ug.group_id
    </select>
    <select id="getUserId" resultType="java.lang.Integer">
        SELECT id FROM Blog_User
        <where>
            name=#{name}
        </where>
    </select>
</mapper>